<!doctype html>
<html lang="en" ng-app="whApp">
<head>
    <meta charset="utf-8">
    <title>WH test</title>

    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
</head>

<body ng-controller='techTestController'>


	<div class="dataSection">
		<h1>Settled data</h1>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>customer</th><th>Is high winning rate</th>
				</tr>
			<thead>
			<tbody>
				<tr ng-repeat="settled in viewModel.settledItems">
					<td ng-bind="settled.key"/>
					<td>
            <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasHighWin() === true, 'glyphicon-remove text-danger' : settled.hasHighWin() === false}"></span>
          </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="dataSection">
		<h2>Unsettled data</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>customer</th><th>Is high winning rate</th>
  				</tr>
  			<thead>
  			<tbody>
  				<tr ng-repeat="settled in viewModel.unsettledItems">
  					<td ng-bind="settled.key"/>
  					<td>
              <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasHighWin() === true, 'glyphicon-remove text-danger' : settled.hasHighWin() === false}"></span>
            </td>
  				</tr>
  			</tbody>
      </table>
	</div>

	<script type="text/javascript" src="libs/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="settled.js"></script>
	<script type="text/javascript" src="unsettled.js"></script>
</body>
</html>
