<!doctype html>
<html lang="en" ng-app="whApp">
<head>
    <meta charset="utf-8">
    <title>WH test</title>

    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
</head>

<body ng-controller='techTestController'>

  <h3>Settled</h3>
  <hr/>
	<div class="dataSection form-control">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>customer</th><th>Is high winning rate</th>
				</tr>
			<thead>
			<tbody>
				<tr ng-repeat="settled in viewModel.settledItems">
					<td ng-bind="settled.key"/>
					<td>
            <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasHighWin() === true, 'glyphicon-remove text-danger' : settled.hasHighWin() === false}"></span>
          </td>
				</tr>
			</tbody>
		</table>
	</div>

  <div class="dataSection form-control">
    <div class="subSection">
      <h3>High rate</h3>
      <div ng-repeat="settled in viewModel.settledItems">
          <h4 ng-if="settled.hasHighWin() == true" ng-bind="settled.customer">1</h4>
      </div>
    </div>
    <div class="subSection">
      <h3>Normal rate</h3>
      <div ng-repeat="settled in viewModel.settledItems">
          <h4 ng-if="settled.hasHighWin() == false" ng-bind="settled.customer">1</h4>
      </div>
    </div>
  </div>

  <h3>Unsettled</h3>
  <hr/>
	<div class="dataSection form-control">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>customer</th><th>Is high winning rate</th><th>Has stake >= x10 avg</th><th>Has stake >= 30x avg</th><th>Has win >= $1000 </th>
  				</tr>
  			<thead>
  			<tbody>
  				<tr ng-repeat="settled in viewModel.unsettledItems">
  					<td ng-bind="settled.key"/>
            <td>
              <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasHighWin() === true, 'glyphicon-remove text-danger' : settled.hasHighWin() === false}"></span>
            </td>
            <td>
              <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasHighStake() === true, 'glyphicon-remove text-danger' : settled.hasHighStake() === false}"></span>
            </td>
            <td>
              <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasVeryHighStake() === true, 'glyphicon-remove text-danger' : settled.hasVeryHighStake() === false}"></span>
            </td>
            <td>
              <span class="glyphicon" ng-class="{'glyphicon-check text-success' : settled.hasBigWin() === true, 'glyphicon-remove text-danger' : settled.hasBigWin() === false}"></span>
            </td>
  				</tr>
  			</tbody>
      </table>
	</div>
  <div class="dataSection form-control">
    <div class="subSection quarter">
      <h3>High winning</h3>
      <div ng-repeat="settled in viewModel.unsettledItems">
          <h4 ng-if="settled.hasHighWin() == true" ng-bind="settled.customer"></h4>
      </div>
    </div>
    <div class="subSection quarter">
      <h3>Stake >= X10 avg</h3>
      <div ng-repeat="settled in viewModel.unsettledItems">
          <h4 ng-if="settled.hasHighStake() == true" ng-bind="settled.customer"></h4>
      </div>
    </div>
    <div class="subSection quarter">
      <h3>Stake >= X30 avg</h3>
      <div ng-repeat="settled in viewModel.unsettledItems">
          <h4 ng-if="settled.hasVeryHighStake() == true" ng-bind="settled.customer"></h4>
      </div>
    </div>
    <div class="subSection quarter">
      <h3>Win >= $1000</h3>
      <div ng-repeat="settled in viewModel.unsettledItems">
          <h4 ng-if="settled.hasBigWin() == true" ng-bind="settled.customer"></h4>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="libs/angular.js"></script>

  <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="settled.js"></script>
	<script type="text/javascript" src="unsettled.js"></script>

</body>
</html>
